<!----------------------------- header about -------------------------------->

<header class="teacher-head">
  <div class="teacher-content d-flex justify-content-center align-items-center">
    <div>
      <h1>OUR INSTRUCTORS</h1>
      <div class="teacher-links">
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="after">
            <a class="pe-3 home" (click)="goHome()">Home </a>
          </li>
          <li class="ps-3">
            <a href="#">Teachers</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!----------------------------- header about -------------------------------->

<!---------------------------------instructor section------------------------------------------->

<section class="container py-5 instructor">
  <div class="instructor-head py-5">
    <h1 data-aos="fade-right" data-aos-duration="1000">Our Instructors</h1>
    <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
      Other technological advances made during the Paleolithic era were clothing
      and
    </p>
  </div>

  <div class="row">
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-1.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Jubayer Hala</h5>
          <p class="card-text">IOS Developer</p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-2.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Rashed Ka.</h5>
          <p class="card-text">Senior IOS Developer</p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-3.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Jannatul Ferdous</h5>
          <p class="card-text">Photographer</p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-4.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Hasan Masud</h5>
          <p class="card-text">Team Lead</p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="100"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-5.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Jannatul Kabir</h5>
          <p class="card-text">Web Design & Developer</p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="100"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-6.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Rashed Kabir</h5>
          <p class="card-text">Senior IOS Developer</p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="100"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-7.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Mahfuz Riad</h5>
          <p class="card-text">Photographer</p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="100"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-8.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Foqrul Islam</h5>
          <p class="card-text">Team Lead</p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center my-5">
      <div
        class="button"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
      >
        <button class="btn">load more</button>
      </div>
    </div>
  </div>
</section>

<!---------------------------------instructor section------------------------------------------->
