<!------------------------------footer-head component------------------------------------>
<app-footer-head></app-footer-head>

<!------------------------------footer-head component------------------------------------>

<!------------------------------footer------------------------------------>
<footer class="footer-cotainer pt-5 pb-3">
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
        <div class="footer-content">
          <div class="logo-name">
            <h3>Lint<span>School</span></h3>
            <p>online Learning website</p>
          </div>
          <p class="text-white">
            Lorem ipsum dolor sit amet, vix an natu tur eleifend, mel amet
            laorit menandri. Ei item justo complectitur duo.
          </p>
          <div class="icons">
            <ul
              class="
                list-unstyled
                d-flex
                justify-content-start
                align-items-center
              "
            >
              <li>
                <a
                  href="https://www.facebook.com/lintschool"
                  aria-label="follow company in facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://twitter.com/lintschool"
                  aria-label="follow company in twitter"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCVbvRRotgCQAn70yK06s_zA?view_as=subscriber"
                  aria-label="subscribe company in youtube"
                  ><i class="fab fa-youtube"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/lintschool/"
                  aria-label="follow company in instagram"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <i class="fab fa-pinterest-p"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
        <div class="links ps-3">
          <h4>Quick Links</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#"> > <span>About Us</span></a>
            </li>
            <li>
              <a href="#"> > <span>Recent Projects</span></a>
            </li>
            <li>
              <a href="#"> > <span>Our Mission</span></a>
            </li>
            <li>
              <a href="#"> > <span>Contact Us</span></a>
            </li>
            <li>
              <a href="#"> > <span>Privacy & policy</span></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
        <div class="gallery">
          <h4>Photo Gallery</h4>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 mb-2">
              <img
                src="assets/images/footer-gallery-thumb-1.jpg"
                class="mb-3"
                alt="footer-picture"
                srcset=""
              />
              <img
                src="assets/images/footer-gallery-thumb-3.jpg"
                class="mb-3"
                alt="footer-picture"
                srcset=""
              />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-2 picture-position">
              <img
                src="assets/images/footer-gallery-thumb-2.jpg"
                class="mb-3"
                alt="footer-picture"
                srcset=""
              />
              <img
                src="assets/images/footer-gallery-thumb-4.jpg"
                class="mb-3"
                alt="footer-picture"
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
        <div class="address">
          <h4 class="pb-2">Our Address</h4>
          <div>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-map-marker-alt"></i>
                60 Grant Ave. Central New <br />
                <span>Road 0708, EG</span>
              </li>
              <li>
                <i class="fas fa-phone-alt"></i>
                +880 1723 801 729
              </li>
              <li>
                <i class="far fa-envelope"></i>
                <a href="lintschool@gmail.com">lintschool@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="brdr"></div>
  <div class="container footer-bottom pt-3">
    <p>All Right Reserved <a href="#">Lintschool</a> © 2021</p>
  </div>
</footer>

<!------------------------------footer------------------------------------>
