@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url(//db.onlinewebfonts.com/c/bd9805cba4fdbd10e6f9d097dab9225f?family=Chalkduster);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url(//db.onlinewebfonts.com/c/bd9805cba4fdbd10e6f9d097dab9225f?family=Chalkduster);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url(//db.onlinewebfonts.com/c/bd9805cba4fdbd10e6f9d097dab9225f?family=Chalkduster);
.non-shadow, .btns {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
  border-radius: 0;
}

.btns {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 20px 40px;
}

.btns:hover {
  background-color: #12139c;
  border-color: #12139c !important;
}

/*-------------------footer--------------------------------*/
.footer-cotainer {
  background-color: #1e2436;
}

.footer-cotainer .footer-content .logo-name h3 {
  font-size: 2rem;
  font-family: "Chalkduster";
  color: #fff;
}

.footer-cotainer .footer-content .logo-name h3 span {
  color: #ffa00b;
}

.footer-cotainer .footer-content .logo-name p {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  color: #777777;
  position: relative;
  bottom: 28px;
  padding-left: 1.2rem;
}

.footer-cotainer .footer-content p {
  position: relative;
  bottom: 25px;
  font-size: .9rem;
}

.footer-cotainer .footer-content .icons ul li {
  cursor: pointer;
  font-size: .8rem;
  margin-right: 20px;
  text-align: center;
}

.footer-cotainer .footer-content .icons ul li i {
  line-height: 33px;
  color: #404554;
  border: 1px solid #404554;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.footer-cotainer .footer-content .icons ul li i:hover {
  color: #ffa00b;
  border-color: #ffa00b;
}

.footer-cotainer .links h4 {
  color: #fff;
  font-weight: 500;
}

.footer-cotainer .links a {
  text-decoration: none;
  color: rgba(228, 230, 235, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 35px;
}

.footer-cotainer .links a span {
  padding-left: 10px;
}

.footer-cotainer .links a:hover {
  color: #ffa00b;
}

.footer-cotainer .gallery h4 {
  color: #fff;
  font-weight: 500;
  padding-bottom: 15px;
}

.footer-cotainer .gallery img {
  -webkit-transition: 0.33s opacity;
  transition: 0.33s opacity;
}

.footer-cotainer .gallery img:hover {
  opacity: .7;
}

.footer-cotainer .gallery .picture-position {
  position: relative;
  right: 40px;
}

.footer-cotainer .address {
  color: rgba(228, 230, 235, 0.7);
}

.footer-cotainer .address h4 {
  color: #fff;
  font-weight: 500;
}

.footer-cotainer .address li {
  font-size: 1rem;
  padding-bottom: 1.4rem;
}

.footer-cotainer .address li span {
  padding-left: 40px;
  position: relative;
}

.footer-cotainer .address li i {
  padding-right: 20px;
  color: #ffa00b;
}

.footer-cotainer .address li a {
  text-decoration: none;
  color: inherit;
}

.footer-cotainer .brdr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-cotainer .footer-bottom p {
  color: #fff;
  font-size: 1rem;
  font-family: sans-serif;
}

.footer-cotainer .footer-bottom p a {
  text-decoration: none;
  color: #ffa00b !important;
}

/*-------------------footer--------------------------------*/
@media (max-width: 576px) and (min-width: 300px) {
  .footer-cotainer img {
    margin-left: 10px;
  }
  .footer-cotainer .picture-position {
    left: 2px;
  }
}
/*# sourceMappingURL=footer.component.css.map */