<!---------------------------------count section------------------------------------------->

<section class="count py-5">
  <div class="container">
    <div class="row">
      <div
        class="col-md-3 col-sm-3"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="count-content text-center">
          <div class="icons mb-3">
            <i class="fas fa-graduation-cap fa-4x"></i>
          </div>
          <h3 class="counter">{{ studentCount }}<span class="ps-1">+</span></h3>
          <p>Students</p>
        </div>
      </div>
      <div
        class="col-md-3 col-sm-3"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="count-content text-center">
          <div class="icons mb-3">
            <i class="far fa-bookmark fa-4x"></i>
          </div>
          <h3 class="counter">{{  courseCount }}<span class="ps-1">+</span></h3>
          <p>Courses</p>
        </div>
      </div>
      <div
        class="col-md-3 col-sm-3"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="count-content text-center">
          <div class="icons mb-3">
            <i class="far fa-star fa-4x"></i>
          </div>
          <h3 class="counter">{{ ratingCount }}<span class="ps-1">+</span></h3>
          <p>Ratings</p>
        </div>
      </div>
      <div
        class="col-md-3 col-sm-3"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="count-content text-center">
          <div class="icons mb-3">
            <i class="fas fa-user-graduate fa-4x"></i>
          </div>
          <h3 class="counter">{{ projectCount }}<span class="ps-1">+</span></h3>
          <p>projects</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!---------------------------------count section------------------------------------------->
