<!----------------------------- header about -------------------------------->

<header class="about-head">
  <div class="about-content d-flex justify-content-center align-items-center">
    <div>
      <h1>ABOUT US</h1>
      <div class="about-links">
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="after">
            <a class="pe-3 home" (click)="goHome()">Home </a>
          </li>
          <li class="ps-3">
            <a href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!----------------------------- header about -------------------------------->

<!---------------------------------welcome section---------------------------------->

<section class="welcome py-5 container">
  <div class="welcome-title pb-5">
    <div class="text-center">
      <h1 class="pb-4" data-aos="fade-up" data-aos-duration="900">
        Welcome To <span>Lint<span>School</span></span>
      </h1>
      <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        Welcome to LintSchool collection of world-class online learning
        opportunities. The Educamp Online Learning portal <br />
        provides a gateway for the public to access LintSchool’s extensive
        learning content.
      </p>
    </div>
  </div>
  <div class="row">
    <div
      class="col-lg-4 col-md-6 brdr mb-4 pt-5"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    >
      <div class="welcome-body text-center">
        <div class="icon">
          <i class="fas fa-3x fa-graduation-cap text-white"></i>
        </div>
        <h3>
          FACILITY <br />
          OF SCHOLARSHIP
        </h3>
        <p>
          Online and inside campus programs for all <br />
          teachers, principal, administrator, and <br />
          the policy makers for free.
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 brdr mb-4 pt-5"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="welcome-body text-center">
        <div class="icon">
          <i class="fas fa-3x fa-desktop text-white"></i>
        </div>
        <h3>
          LEARN <br />
          COURSES ONLINE
        </h3>
        <p>
          Online and inside campus programs for all <br />
          teachers, principal, administrator, and <br />
          the policy makers for free.
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-12 brdr mb-4 pt-5 center"
      data-aos="fade-up-left"
      data-aos-duration="1000"
    >
      <div class="welcome-body text-center">
        <div class="icon">
          <i class="fas fa-3x fa-book-open text-white"></i>
        </div>
        <h3>
          BOOK <br />
          LIBRARY & STORE
        </h3>
        <p>
          Online and inside campus programs for all <br />
          teachers, principal, administrator, and <br />
          the policy makers for free.
        </p>
      </div>
    </div>
  </div>
</section>

<!---------------------------------welcome section---------------------------------->

<!--------------------------------------section history-------------------------------->

<section class="our-history py-5">
  <div class="container">
    <div class="row py-5">
      <div
        class="col-lg-6 col-md-6 m-left mb-4"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="history-content">
          <div class="pb-5">
            <img
              src="assets/images/featured-1.jpg"
              alt="post-thumb"
              class="img-fluid"
            />
          </div>
          <div class="history-body">
            <p>BUSINESS GOAL</p>
            <h3>Our Mission</h3>
            <p class="p-body pb-3">
              Lorem ipsum dolor sit amet, vix an natum labitur end, mel <br />
              amet laorit quality menandri. Ei justo complectitur duo. Ei <br />
              mundi solet ut soletu mel possit quo.
            </p>
            <p class="p-body">
              Sea cu justo laudem.An utinam consulatu eos, est facilis <br />
              suscipiantur te, vim te iudico delenit voluptatibus
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-6 m-right mb-4"
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        <div class="history-content">
          <div class="history-body pb-5">
            <p>ABOUT US</p>
            <h3>Our Hisotry</h3>
            <p class="p-body pb-3">
              Lorem ipsum dolor sit amet, vix an natum labitur end, mel <br />
              amet laorit quality menandri. Ei justo complectitur duo. Ei <br />
              mundi solet ut soletu mel possit quo.
            </p>
            <p class="p-body">
              Sea cu justo laudem.An utinam consulatu eos, est facilis <br />
              suscipiantur te, vim te iudico delenit voluptatibus
            </p>
          </div>
          <div>
            <img
              src="assets/images/featured-2.jpg"
              alt="post-thumb"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--------------------------------------section history-------------------------------->

<!---------------------------------count section------------------------------------------->

<section class="count py-5">
  <div class="container">
    <div class="row">
      <div
        class="col-md-3 col-sm-3"
        data-aos="fade-up-right"
        data-aos-duration="1000"
      >
        <div class="count-content text-center">
          <div class="icons mb-3">
            <i class="fas fa-graduation-cap fa-4x"></i>
          </div>
          <h3 class="counter">{{ studentCount }}<span class="ps-1">+</span></h3>
          <p>Students</p>
        </div>
      </div>
      <div
        class="col-md-3 col-sm-3"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="count-content text-center">
          <div class="icons mb-3">
            <i class="far fa-bookmark fa-4x"></i>
          </div>
          <h3 class="counter">{{ courseCount }}<span class="ps-1">+</span></h3>
          <p>Courses</p>
        </div>
      </div>
      <div
        class="col-md-3 col-sm-3"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="count-content text-center">
          <div class="icons mb-3">
            <i class="far fa-star fa-4x"></i>
          </div>
          <h3 class="counter">{{ ratingCount }}<span class="ps-1">+</span></h3>
          <p>Ratings</p>
        </div>
      </div>
      <div
        class="col-md-3 col-sm-3"
        data-aos="fade-up-left"
        data-aos-duration="1000"
      >
        <div class="count-content text-center">
          <div class="icons mb-3">
            <i class="fas fa-user-graduate fa-4x"></i>
          </div>
          <h3 class="counter">{{ projectCount }}<span class="ps-1">+</span></h3>
          <p>projects</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!---------------------------------count section------------------------------------------->

<!---------------------------------instructor section------------------------------------------->

<section class="container py-5 instructor">
  <div class="instructor-head py-5">
    <h1 data-aos="fade-right" data-aos-duration="1000">Our Instructors</h1>
    <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
      Other technological advances made during the Paleolithic era were clothing
      and
    </p>
  </div>

  <div class="row">
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-1.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Jubayer Hala</h5>
          <p class="card-text">IOS Developer</p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-down"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-2.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Rashed Ka.</h5>
          <p class="card-text">Senior IOS Developer</p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-down"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-3.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Jannatul Ferdous</h5>
          <p class="card-text">Photographer</p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-sm-6 mb-3"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      <div class="card">
        <div class="img-cover">
          <img
            src="assets/images/team-4.jpg"
            class="card-img-top pb-2"
            alt="Jubayer Hala"
          />
          <section class="cover-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </section>
        </div>
        <div class="card-body text-center">
          <h5>Hasan Masud</h5>
          <p class="card-text">Team Lead</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!---------------------------------instructor section------------------------------------------->

<!------------------------------- customer section--------------------------------->
<section class="py-5 customer">
  <div class="container">
    <div class="customer-head" data-aos="fade-up" data-aos-duration="1000">
      <h1 class="text-white">Our Customers</h1>
      <p class="text-white">
        See what our client say about us. We are proud to show some of best
        <br />
        feedback with lot fo love & proud!!
      </p>
    </div>
    <div
      class="row pt-5"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="100"
    >
      <div class="col-12">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="d-flex content-carusol">
              <div class="flex-shrink-0 pe-3">
                <img
                  src="assets/images/author-2.jpg"
                  class="rounded-circle"
                  alt="author"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <div class="customer-title">
                  <h4>Jannatul Fa.</h4>
                  <p>Junior IOS Developer</p>
                </div>
                <div class="course-info">
                  <article class="pb-2">
                    The greatest discovery of all time is that a person can
                    changes his futures by some merely changing his attitude &
                    some life style.
                  </article>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="me-1">
            <div class="d-flex content-carusol">
              <div class="flex-shrink-0 pe-3">
                <img
                  src="assets/images/author-1.jpg"
                  class="rounded-circle img-fluid"
                  alt="author"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <div class="customer-title">
                  <h4>Rashed kabir</h4>
                  <p>Senior IOS Developer</p>
                </div>
                <div class="course-info">
                  <article class="pb-2">
                    The greatest discovery of all time is that a person can
                    changes his futures by some merely changing his attitude &
                    some life style.
                  </article>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<!------------------------------- customer section--------------------------------->

<!-----------------------------------------------section carousel---------------------------->
<section class="container py-5 carousel">
  <div class="row py-5">
    <div class="col-12">
      <owl-carousel-o [options]="customOption">
        <ng-template carouselSlide>
          <div class="img-poster">
            <img src="assets/images/1.png" alt="img-poster" srcset="" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img-poster">
            <img src="assets/images/2.png" alt="img-poster" srcset="" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img-poster">
            <img src="assets/images/3.png" alt="img-poster" srcset="" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="img-poster">
            <img src="assets/images/4.png" alt="img-poster" srcset="" />
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>

<!-----------------------------------------------section carousel---------------------------->
