<!----------------------------- header about -------------------------------->

<header class="head-course">
  <div class="content-course d-flex justify-content-center align-items-center">
    <div>
      <h1>OUR COURSES</h1>
      <div class="links-course">
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="after">
            <a class="pe-3 home" (click)="goHome()">Home </a>
          </li>
          <li class="ps-3">
            <a href="#">Courses</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!----------------------------- header about -------------------------------->

<!---------------------------------Courses sectoin-------------------->
<section class="courses container py-5">
  <div class="row py-5">
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-3"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <div class="card">
        <img
          src="assets/images/courses-1.jpg"
          class="img-fluid"
          alt="Rashed kabir"
        />
        <div class="card-body">
          <h6>By Rashed kabir</h6>
          <div class="star-content d-flex">
            <div class="stars pe-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div>
              <ul class="list-unstyled d-flex">
                <li class="pe-1">4.73</li>
                <li class="text-muted">(1,670)</li>
              </ul>
            </div>
          </div>
          <p class="card-text">
            IT Security and Ethical <br />
            Hacking Learn.
          </p>
          <div class="brdr mb-3"></div>
          <div class="course-footer">
            <ul
              class="
                list-unstyled
                d-flex
                justify-content-evenly
                align-items-center
              "
            >
              <li>
                <button class="btn">FREE</button>
              </li>
              <li>
                <i class="fas fa-user pe-1"></i>
                2,680
              </li>
              <li>
                <i class="far fa-comments"></i>
                13
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-3"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="card">
        <img
          src="assets/images/courses-2.jpg"
          class="img-fluid"
          alt="Jannatul Fa."
        />
        <div class="card-body">
          <h6>By Rashed kabir</h6>
          <div class="star-content d-flex">
            <div class="stars pe-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div>
              <ul class="list-unstyled d-flex">
                <li class="pe-1">5.00</li>
                <li class="text-muted">(1,670)</li>
              </ul>
            </div>
          </div>
          <p class="card-text">
            Acumen Presents: Krista <br />
            Tippett On The Art.
          </p>
          <div class="brdr mb-3"></div>
          <div class="course-footer">
            <ul
              class="
                list-unstyled
                d-flex
                justify-content-evenly
                align-items-center
              "
            >
              <li>
                <button class="btn">FREE</button>
              </li>
              <li>
                <i class="fas fa-user pe-1"></i>
                2,680
              </li>
              <li>
                <i class="far fa-comments"></i>
                13
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-3"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="card">
        <img
          src="assets/images/courses-3.jpg"
          class="img-fluid"
          alt="Hasan Mulla"
        />
        <div class="card-body">
          <h6>By Hasan Mulla</h6>
          <div class="star-content d-flex">
            <div class="stars pe-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div>
              <ul class="list-unstyled d-flex">
                <li class="pe-1">4.8</li>
                <li class="text-muted">(546)</li>
              </ul>
            </div>
          </div>
          <p class="card-text">
            Become A Professional <br />
            IOS Developer.
          </p>
          <div class="brdr mb-3"></div>
          <div class="course-footer pb-1">
            <ul
              class="
                list-unstyled
                d-flex
                justify-content-evenly
                align-items-center
              "
            >
              <li class="price">$79 <sup>99</sup></li>
              <li>
                <i class="fas fa-user pe-1"></i>
                2,680
              </li>
              <li>
                <i class="far fa-comments"></i>
                13
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-3"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      <div class="card">
        <img
          src="assets/images/courses-4.jpg"
          class="img-fluid"
          alt="Jubayer Mc"
        />
        <div class="card-body">
          <h6>By Jubayer Mc</h6>
          <div class="star-content d-flex">
            <div class="stars pe-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div>
              <ul class="list-unstyled d-flex">
                <li class="pe-1">4.73</li>
                <li class="text-muted">(1,670)</li>
              </ul>
            </div>
          </div>
          <p class="card-text">
            The Complete IOS <br />
            Developer Course 2.0
          </p>
          <div class="brdr mb-3"></div>
          <div class="course-footer pb-1">
            <ul
              class="
                list-unstyled
                d-flex
                justify-content-evenly
                align-items-center
              "
            >
              <li class="price">$79 <sup>99</sup></li>
              <li>
                <i class="fas fa-user pe-1"></i>
                2,680
              </li>
              <li>
                <i class="far fa-comments"></i>
                13
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-3"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="100"
    >
      <div class="card">
        <img
          src="assets/images/courses-5.jpg"
          class="img-fluid"
          alt="Jannatul Fa."
        />
        <div class="card-body">
          <h6>By Rashed kabir</h6>
          <div class="star-content d-flex">
            <div class="stars pe-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div>
              <ul class="list-unstyled d-flex">
                <li class="pe-1">5.00</li>
                <li class="text-muted">(1,670)</li>
              </ul>
            </div>
          </div>
          <p class="card-text">
            Acumen Presents: Krista <br />
            Tippett On The Art.
          </p>
          <div class="brdr mb-3"></div>
          <div class="course-footer pb-1">
            <ul
              class="
                list-unstyled
                d-flex
                justify-content-evenly
                align-items-center
              "
            >
              <li class="price">$79 <sup class="bold">99</sup></li>
              <li>
                <i class="fas fa-user pe-1"></i>
                2,680
              </li>
              <li>
                <i class="far fa-comments"></i>
                13
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-3"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="100"
    >
      <div class="card">
        <img
          src="assets/images/courses-6.jpg"
          class="img-fluid"
          alt="Hasan Mulla"
        />
        <div class="card-body">
          <h6>By Hasan Mulla</h6>
          <div class="star-content d-flex">
            <div class="stars pe-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div>
              <ul class="list-unstyled d-flex">
                <li class="pe-1">4.8</li>
                <li class="text-muted">(546)</li>
              </ul>
            </div>
          </div>
          <p class="card-text">
            Become A Professional <br />
            IOS Developer.
          </p>
          <div class="brdr mb-3"></div>
          <div class="course-footer pb-1">
            <ul
              class="
                list-unstyled
                d-flex
                justify-content-evenly
                align-items-center
              "
            >
              <li class="price">$267</li>
              <li>
                <i class="fas fa-user pe-1"></i>
                2,680
              </li>
              <li>
                <i class="far fa-comments"></i>
                13
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-3"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="100"
    >
      <div class="card">
        <img
          src="assets/images/courses-7.jpg"
          class="img-fluid"
          alt="Jubayer Mc"
        />
        <div class="card-body">
          <h6>By Jubayer Mc</h6>
          <div class="star-content d-flex">
            <div class="stars pe-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div>
              <ul class="list-unstyled d-flex">
                <li class="pe-1">4.73</li>
                <li class="text-muted">(1,670)</li>
              </ul>
            </div>
          </div>
          <p class="card-text">
            The Complete IOS <br />
            Developer Course 2.0
          </p>
          <div class="brdr mb-3"></div>
          <div class="course-footer">
            <ul
              class="
                list-unstyled
                d-flex
                justify-content-evenly
                align-items-center
              "
            >
              <li>
                <button class="btn">FREE</button>
              </li>
              <li>
                <i class="fas fa-user pe-1"></i>
                2,680
              </li>
              <li>
                <i class="far fa-comments"></i>
                13
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-6 col-sm-6 mb-3"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="100"
    >
      <div class="card">
        <img
          src="assets/images/courses-8.jpg"
          class="img-fluid"
          alt="Jannatul Fa."
        />
        <div class="card-body">
          <h6>By Rashed kabir</h6>
          <div class="star-content d-flex">
            <div class="stars pe-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div>
              <ul class="list-unstyled d-flex">
                <li class="pe-1">5.00</li>
                <li class="text-muted">(1,670)</li>
              </ul>
            </div>
          </div>
          <p class="card-text">
            Acumen Presents: Krista <br />
            Tippett On The Art.
          </p>
          <div class="brdr mb-3"></div>
          <div class="course-footer">
            <ul
              class="
                list-unstyled
                d-flex
                justify-content-evenly
                align-items-center
              "
            >
              <li>
                <button class="btn">FREE</button>
              </li>
              <li>
                <i class="fas fa-user pe-1"></i>
                2,680
              </li>
              <li>
                <i class="far fa-comments"></i>
                13
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav
    aria-label="Page navigation example"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-delay="150"
  >
    <ul class="pagination">
      <li class="page-item me-3"><a class="page-link" href="#">1</a></li>
      <li class="page-item me-3"><a class="page-link" href="#">2</a></li>
      <li class="page-item me-3"><a class="page-link" href="#">3</a></li>
      <li class="page-item me-3">
        <a class="page-link px-3" href="#">Next</a>
      </li>
    </ul>
  </nav>
</section>
<!---------------------------------Courses sectoin-------------------->
