

<header class="header-top">
    <!-- section title-->
    <section class = "header-title">
        <div class="container-fluid py-3">
            <div class="row">

                <div class="col-lg-6 col-md-12  title-content ">
                    <ul class = "list-unstyled d-flex justify-content-evenly align-items-center">
                        <li class = 'question'>Have Any Question?</li>
                        <li> <i class="fas fa-phone-alt px-2"></i>
                            (880) 172 380 956
                        </li>
                        <li class="last">
                            <i class="fas fa-envelope px-2"></i>
                            contact@lintschool.com
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 title-content2 d-flex justify-content-center align-items-center">
                    <ul class="list-unstyled d-flex justify-content-end align-items-center">
                        <li class = "connect">Stay Connected</li>
                        <li>
                            <i class="fab fa-facebook-f"></i>
                        </li>
                        <li>
                            <i class="fab fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fab fa-google-plus-g"></i>
                        </li>
                        <li> 
                            <i class="fab fa-pinterest-p"></i>
                        </li>
                    </ul>
                    <div class = "login">
                        <a href="#">
                            <i class="fas fa-lock px-1"></i>    
                            LOGIN
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- section title-->


    <!-- navbar -->

    <nav class="navbar navbar-expand-lg  navbar-light py-3">
        <div class="container-fluid px-3">
          <a class="navbar-brand ps-5" href="#">
              <img src="assets/images/lintSchool.webp" alt="logo" class="w-75">
          </a>
          <button class="navbar-toggler toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler"></span>
            <span class="navbar-toggler"></span>
            <span class="navbar-toggler mb-2"></span>
          </button>
          <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0 ps-5" nz-menu nzMode="horizontal">
              
              <li class = "nav-link active" routerLink = 'home' nz-submenu nzTitle="Home">  
              </li>
              <li class = "nav-link active" routerLink = 'about' nz-submenu nzTitle="About Us">
                    <ul>
                      <li nz-menu-group>
                        <ul>
                          <li nz-menu-item routerLink = 'about-us'>About Us</li>
                          <li nz-menu-item routerLink = 'teacher'>Our Teacher</li>
                          <li nz-menu-item routerLink = 'pricing'>Pricing</li>
                        </ul>
                      </li>
                    </ul>
              </li>
              <li class = "nav-link active" nz-submenu nzTitle="Courses" routerLink = 'courses'>  
              </li>
              <li class = "nav-link active" nz-submenu nzTitle="Project" routerLink = 'projects'>  
              </li>
              <li class = "nav-link active" nz-submenu nzTitle="Blog" routerLink = 'blog'>  
              </li>
              <li class = "nav-link active" nz-submenu nzTitle="Contact Us" routerLink = 'contact'>  
              </li>
              <li class = "shopping-icon ps-4">  
                <a>
                    <i class="fas fa-shopping-cart"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge  shop">
                    0
                    </span>
                </a>
            </li>
            
              
            </ul>
            
          </div>
        </div>
      </nav>
    <!-- navbar -->



</header>
