<!----------------------------- header project -------------------------------->

<header class="project-head">
  <div class="project-content d-flex justify-content-center align-items-center">
    <div>
      <h1>GALLERY</h1>
      <div class="project-links">
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="after">
            <a class="pe-3 home" (click)="goHome()">Home </a>
          </li>
          <li class="ps-3">
            <a href="#">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!----------------------------- header project -------------------------------->

<!----------------------------- section gallary -------------------------------->

<section class="gallery py-5 container">
  <!-------------------------------navigate----------------------------->
  <nav role="section navigation" class="navigate container pt-5 pb-2">
    <ul class="list-unstyled d-flex justify-content-center">
      <li (click)="allItems()" class="page-navigate me-4">
        <a class="page-links navigator">all</a>
      </li>
      <li (click)="eventItems()" class="page-navigate me-4">
        <a class="navigator">events</a>
      </li>
      <li (click)="presentationItems()" class="page-navigate me-4">
        <a class="navigator">presentation</a>
      </li>
      <li (click)="seminarItems()" class="page-navigate new-row me-4">
        <a class="navigator">seminar</a>
      </li>
      <li (click)="workshopItems()" class="page-navigate me-4">
        <a class="navigator">workshop</a>
      </li>
    </ul>
  </nav>

  <!-------------------------------navigate----------------------------->


  
  <!----------------------------- all section ------------------------------>
  <div
    id="all"
    class="row all pt-5"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="all-img">
        <img
          src="assets/images/10.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="all-img">
        <img
          src="assets/images/11.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="all-img">
        <img
          src="assets/images/12.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="all-img">
        <img
          src="assets/images/13.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="all-img">
        <img src="assets/images/2.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="all-img">
        <img src="assets/images/4.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="all-img">
        <img src="assets/images/5.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="all-img">
        <img src="assets/images/7.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- all section ------------------------------>


  <!----------------------------- event section ------------------------------>
  <div
    id="events"
    class="row all pt-5"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img
          src="assets/images/11.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img
          src="assets/images/12.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img
          src="assets/images/13.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img src="assets/images/2.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img src="assets/images/4.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img src="assets/images/5.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- event section ------------------------------>


  <!----------------------------- presentation section ------------------------------>
  <div
    id="presentation"
    class="row all pt-5"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img
          src="assets/images/10.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img
          src="assets/images/13.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img src="assets/images/2.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img src="assets/images/5.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- presentation section ------------------------------>


  <!----------------------------- seminar section ------------------------------>
  <div
    id="seminar"
    class="row all pt-5"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img
          src="assets/images/11.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img
          src="assets/images/12.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img src="assets/images/7.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- seminar section ------------------------------>


  <!----------------------------- workshop section ------------------------------>
  <div
    id="workshop"
    class="row all pt-5"
    data-aos="fade-right"
    data-aos-duration="1000"
  >
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img
          src="assets/images/10.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img
          src="assets/images/11.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img
          src="assets/images/13.jpg"
          alt="traning-person"
          class="img-fluid"
        />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img src="assets/images/2.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <div class="all-img">
        <img src="assets/images/4.jpg" alt="traning-person" class="img-fluid" />
        <div class="overlay">
          <div class="overlay-body">
            <h5 class="text-white">IOS Training</h5>
            <p class="text-white">Events</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- workshop section ------------------------------>
</section>

<!----------------------------- section gallary -------------------------------->
