<!----------------------------- header contact -------------------------------->

<header class="contact-head">
  <div class="contact-content d-flex justify-content-center align-items-center">
    <div>
      <h1>CONTACT US</h1>
      <div class="contact-links">
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="after">
            <a class="pe-3 home" (click)="goHome()">Home </a>
          </li>
          <li class="ps-3">
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!----------------------------- header contact -------------------------------->

<!----------------------------- section contact-info -------------------------------->

<section class="container py-5 contact-info">
  <div class="row py-5">
    <div class="col-lg-7 col-md-12 mb-5">
      <div class="contact-body">
        <div class="head">
          <h1 data-aos="fade-right" data-aos-duration="1000">Send Message</h1>
          <p
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="100"
          >
            This I have produced as a scantling of Jack’s great eloquence and
            the force of his reasoning upon such abstruse matters.
          </p>
        </div>
        <div class="row pt-3">
          <div
            class="col-lg-6 col-md-6 mb-3"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="150"
          >
            <div class="input">
              <label for="exampleFormControlInput1" class="form-label"
                >Email address</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="your name*"
              />
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 mb-3"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="150"
          >
            <div class="input">
              <label for="exampleFormControlInput1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="your email*"
              />
            </div>
          </div>

          <div
            class="col-md-12 mb-3"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
          >
            <div class="input">
              <label for="exampleFormControlInput1" class="form-label"
                >Email address</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                placeholder="your messages*"
                rows="8"
              ></textarea>
            </div>
          </div>

          <div
            class="button"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="50"
          >
            <button 
            class="btn"
            >send message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 mb-5">
      <div class="contant-connected">
        <div class="connect-head">
          <h1 data-aos="fade-left" data-aos-duration="1000">Contact Info</h1>
        </div>
        <ul class="list-unstyled mt-5">
          <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
            <div class="d-flex mb-4">
              <div class="flex-shrink-0 contact-icon">
                <i class="fas fa-at icon me-3"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <h4>E-MAIL</h4>
                lintschool@gmail.com
              </div>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="120">
            <div class="d-flex mb-4">
              <div class="flex-shrink-0 contact-icon">
                <i class="fas fa-phone-alt icon me-3"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <h4>PHONE</h4>
                +30 356 3778 241
              </div>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="140">
            <div class="d-flex mb-4">
              <div class="flex-shrink-0 contact-icon">
                <i class="fas fa-fax icon me-3"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <h4>FAX</h4>
                +657 890 546, +560 565 742
              </div>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="160">
            <div class="d-flex mb-4">
              <div class="flex-shrink-0 contact-icon">
                <i class="fas fa-map-marker-alt icon me-3"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <h4>ADDRESS</h4>
                San Francisco, CA <br />
                560 Bush St & 20th Ave, Apt <br />
                5 San Francisco, 230909
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!----------------------------- section contact-info -------------------------------->
