
$backgroundColor_title: #1e2436;

$color_secondry: #000;
$color_main: #fff;
$color_content1: #1bd235;
$color_content2: rgba(0,0,0,0.40);
$color_content3: rgb(18,19,156); 
$color_p : rgba(0,0,0,0.50);
$color_title1: #586280;
$color_title2: #777777;
$color_span: #ffa00b;
$color_pricing: rgba(247,163,16,0.85);
$color_hover: #1890ff;
$counter-color: #252f4b;

$brdr-color : #e8e8e8;
$bg-footer : #1e2436;
$color-footer : #404554;