@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url(//db.onlinewebfonts.com/c/bd9805cba4fdbd10e6f9d097dab9225f?family=Chalkduster);

$font-family1: 'Montserrat', sans-serif;
$font-family2: 'Roboto', sans-serif;
$font-family3: 'Lato', sans-serif;
$font-family-alt: sans-serif;
$font-family4: 'Chalkduster';



// font-size

$fontSize_small: 1rem;
$fontSize_mid: 1.5rem;
$fontSize_large: 3rem;

$font-weight1:500;
$font-weight2:700;
$font-weight3:900;


