<!---------------------------------welcome section---------------------------------->

<section class="welcome py-5 container">
  <div class="welcome-title pb-5">
    <div class="text-center">
      <h1 class="pb-4" data-aos="fade-up" data-aos-duration="900">
        Welcome To <span>Lint<span>School</span></span>
      </h1>
      <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        Welcome to LintSchool collection of world-class online learning
        opportunities. The Educamp Online Learning portal <br />
        provides a gateway for the public to access LintSchool’s extensive
        learning content.
      </p>
    </div>
  </div>
  <div class="row">
    <div
      class="col-lg-4 col-md-6 brdr mb-4 pt-5"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    >
      <div class="welcome-body text-center">
        <div class="icon">
          <i class="fas fa-3x fa-graduation-cap text-white"></i>
        </div>
        <h3>
          FACILITY <br />
          OF SCHOLARSHIP
        </h3>
        <p>
          Online and inside campus programs for all <br />
          teachers, principal, administrator, and <br />
          the policy makers for free.
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 brdr mb-4 pt-5"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="welcome-body text-center">
        <div class="icon">
          <i class="fas fa-3x fa-desktop text-white"></i>
        </div>
        <h3>
          LEARN <br />
          COURSES ONLINE
        </h3>
        <p>
          Online and inside campus programs for all <br />
          teachers, principal, administrator, and <br />
          the policy makers for free.
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-12 brdr mb-4 pt-5 center"
      data-aos="fade-up-left"
      data-aos-duration="1000"
    >
      <div class="welcome-body text-center">
        <div class="icon">
          <i class="fas fa-3x fa-book-open text-white"></i>
        </div>
        <h3>
          BOOK <br />
          LIBRARY & STORE
        </h3>
        <p>
          Online and inside campus programs for all <br />
          teachers, principal, administrator, and <br />
          the policy makers for free.
        </p>
      </div>
    </div>
  </div>
</section>

<!---------------------------------welcome section---------------------------------->
