<!----------------------------- header about -------------------------------->

<header class="blog-head">
  <div class="blog-content d-flex justify-content-center align-items-center">
    <div>
      <h1>OUR NEWS</h1>
      <div class="blog-links">
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="after">
            <a class="pe-3 home" (click)="goHome()">Home </a>
          </li>
          <li class="ps-3">
            <a href="#">News</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!----------------------------- header about -------------------------------->

<!----------------------------------news section------------------------------------->

<section class="news py-5">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-8">
        <div class="row">
          <div
            class="col-lg-12 col-md-12 mb-4"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <div class="card">
              <img
                src="assets/images/news-4.jpg"
                class="img-fluid"
                alt="Rashed kabir"
              />
              <div class="card-body">
                <h3>How to Become Master In IOS within a Months.</h3>
                <p class="card-text">
                  Apple Inc has decided to launch much to awaited. Apple month
                  of april & has already received around five to six million
                  orders for the product. Analysts have expected this product of
                  the company to bring a positive change in the future revenue
                  generation of the company...
                </p>
                <div class="news-footer">
                  <ul
                    class="
                      list-unstyled
                      d-flex
                      justify-content-start
                      align-items-center
                    "
                  >
                    <li class="me-4">
                      <i class="far fa-clock pe-1"></i>
                      1 jun 2022
                    </li>
                    <li>
                      <i class="far fa-heart"></i>
                      13
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-12 col-md-12 mb-4"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <div class="card">
              <img
                src="assets/images/news-5.jpg"
                class="img-fluid"
                alt="Rashed kabir"
              />
              <div class="card-body">
                <h3>How to Become Master In IOS within a Months.</h3>
                <p class="card-text">
                  Apple Inc has decided to launch much to awaited. Apple month
                  of april & has already received around five to six million
                  orders for the product. Analysts have expected this product of
                  the company to bring a positive change in the future revenue
                  generation of the company...
                </p>
                <div class="news-footer">
                  <ul
                    class="
                      list-unstyled
                      d-flex
                      justify-content-start
                      align-items-center
                    "
                  >
                    <li class="me-4">
                      <i class="far fa-clock pe-1"></i>
                      1 jun 2022
                    </li>
                    <li>
                      <i class="far fa-heart"></i>
                      13
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-12 col-md-12 mb-4"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <div class="card">
              <img
                src="assets/images/news-6.jpg"
                class="img-fluid"
                alt="Rashed kabir"
              />
              <div class="card-body">
                <h3>How to Become Master In IOS within a Months.</h3>
                <p class="card-text">
                  Apple Inc has decided to launch much to awaited. Apple month
                  of april & has already received around five to six million
                  orders for the product. Analysts have expected this product of
                  the company to bring a positive change in the future revenue
                  generation of the company...
                </p>
                <div class="news-footer">
                  <ul
                    class="
                      list-unstyled
                      d-flex
                      justify-content-start
                      align-items-center
                    "
                  >
                    <li class="me-4">
                      <i class="far fa-clock pe-1"></i>
                      1 jun 2022
                    </li>
                    <li>
                      <i class="far fa-heart"></i>
                      13
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up-left" data-aos-duration="1000">
        <div class="row">
          <div class="col-lg-12 mb-4">
            <div class="news-content">
              <h3>Categories</h3>
              <div class="tracks-items">
                <ul class="list-unstyled">
                  <li><a href="#">Web Develoment</a></li>
                  <li><a href="#">Graphic Design</a></li>
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">IOS/Android Development</a></li>
                  <li><a href="#">Others</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-12 buttons">
            <div class="keyword mb-4">
              <h3>Keyword</h3>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-3 col-sm-4 mb-2">
                <button class="btn">ideas</button>
              </div>
              <div class="col-lg-4 col-md-3 col-sm-4 mb-2">
                <button class="btn">Design</button>
              </div>
              <div class="col-lg-4 col-md-3 col-sm-4 mb-2">
                <button class="btn">book</button>
              </div>
              <div class="col-lg-5 col-md-3 col-sm-4 mb-2">
                <button class="btn">education</button>
              </div>
              <div class="col-lg-5 col-md-3 col-sm-4 mb-2">
                <button class="btn">animation</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!----------------------------------news section------------------------------------->
