@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url(//db.onlinewebfonts.com/c/bd9805cba4fdbd10e6f9d097dab9225f?family=Chalkduster);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url(//db.onlinewebfonts.com/c/bd9805cba4fdbd10e6f9d097dab9225f?family=Chalkduster);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url(//db.onlinewebfonts.com/c/bd9805cba4fdbd10e6f9d097dab9225f?family=Chalkduster);
.non-shadow, .btns, .footer-head .footer-body .form-control, .footer-head .footer-body .send {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
  border-radius: 0;
}

.btns {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 20px 40px;
}

.btns:hover {
  background-color: #12139c;
  border-color: #12139c !important;
}

.footer-head {
  width: 100%;
  background: url("../../assets/images/pattern-1.png"), -webkit-gradient(linear, left bottom, left top, from(#12139c), to(#12139c));
  background: url("../../assets/images/pattern-1.png"), linear-gradient(to top, #12139c, #12139c);
}

.footer-head .footer-body {
  color: #fff;
}

.footer-head .footer-body h2 {
  color: #fff;
}

.footer-head .footer-body p {
  font-size: 1rem;
}

.footer-head .footer-body .form-label {
  display: none;
}

.footer-head .footer-body .form-control {
  width: 60%;
}

.footer-head .footer-body .form-control ::-webkit-input-placeholder {
  font-size: 1.4rem;
}

.footer-head .footer-body .form-control :-ms-input-placeholder {
  font-size: 1.4rem;
}

.footer-head .footer-body .form-control ::-ms-input-placeholder {
  font-size: 1.4rem;
}

.footer-head .footer-body .form-control ::placeholder {
  font-size: 1.4rem;
}

.footer-head .footer-body .send {
  background-color: #2b2b2b;
}

.footer-head .footer-body .send i {
  padding: 10px;
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 992px) and (min-width: 768px) {
  .footer-head .row .footer-body {
    width: 100% !important;
    text-align: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .footer-head .row .footer-body {
    text-align: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (max-width: 576px) and (min-width: 300px) {
  .footer-head .row .footer-body {
    text-align: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
/*# sourceMappingURL=footer-head.component.css.map */