<!------------------------------- customer section--------------------------------->
<section class="py-5 customer">
  <div class="container">
    <div class="customer-head" data-aos="fade-up" data-aos-duration="1000">
      <h1 class="text-white">Our Customers</h1>
      <p class="text-white">
        See what our client say about us. We are proud to show some of best
        <br />
        feedback with lot fo love & proud!!
      </p>
    </div>
    <div class="row pt-5">
      <div class="col-12">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div
              class="d-flex content-carusol"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="100"
            >
              <div class="flex-shrink-0 pe-3">
                <img
                  src="assets/images/author-2.jpg"
                  class="rounded-circle"
                  alt="author"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <div class="customer-title">
                  <h4>Jannatul Fa.</h4>
                  <p>Junior IOS Developer</p>
                </div>
                <div class="course-info">
                  <article class="pb-2">
                    The greatest discovery of all time is that a person can
                    changes his futures by some merely changing his attitude &
                    some life style.
                  </article>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="me-1">
            <div
              class="d-flex content-carusol"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="100"
            >
              <div class="flex-shrink-0 pe-3">
                <img
                  src="assets/images/author-1.jpg"
                  class="rounded-circle img-fluid"
                  alt="author"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <div class="customer-title">
                  <h4>Rashed kabir</h4>
                  <p>Senior IOS Developer</p>
                </div>
                <div class="course-info">
                  <article class="pb-2">
                    The greatest discovery of all time is that a person can
                    changes his futures by some merely changing his attitude &
                    some life style.
                  </article>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<!------------------------------- customer section--------------------------------->
